@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Work Sans';
}
h5 {
	font-family: 'Work Sans';
	font-size: 18px;
}
body {
	font-family: Work Sans;
}